
<! doctype HTML5>

<html lang = "en">
<head>
    <meta charset = "utf - 8">

    <title> Our First CSS </title>
    <meta name = "description" content = "Our First CSS">
    <meta name = "author" content = "Site Point">

    <link rel = "stylesheet" href = "css/style.css">

</head>

<body>
<div id = "OurFirstDiv">
    Hello World to our first CSS Design!
        <div id = "OurSecondDiv">
            <ul id = "OurList">
                <li> <a href = "http://www.google.com"> Google </a> </li>
                <li> <a href = "http://www.bing.com"> Bing </li>
                <li> <a href = "http://www.yahoo.com"> Yahoo </li>
            </ul>
        </div>
</div>

</body>
</html>

